
.countdown-text {
    color: #50eafb;
    margin-top: 20px;
}

.countdown-label {
    font-weight: bold;
}

.countdown-time {
    font-weight: bold;
    color: #ff0000;
}

.responsive-countdown {
font-size: 3rem; /* Default size */

}

/* Adjustments for smaller devices */
@media (max-width: 1000px) {
.responsive-countdown {
    font-size: 2rem; /* Smaller devices */
}
}

/* Adjustments for very small devices */
@media (max-width: 767px) {
.responsive-countdown {
    font-size: 1.5rem; /* Very small devices */
}
}
